<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="blogContainer">
        <h1 class="">What others have to say..</h1>
        <div class="blog">
        <% blogs.map(blog=>{ %>
            <a href="/blogs/<%= blog._id %>">
                <h2 class="title"><%=blog.title%></h1>
                <p class="author"><%=blog.author%></p>
                <p class="body"><%=blog.body%></p>
            </a>
        <% }) %> 
        </div>
    </div>
</body>
</html>